<div id="<%= dom_id candidate %>">
  <p>
    <strong>Name:</strong>
    <%= candidate.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= candidate.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= candidate.phone %>
  </p>

  <p>
    <strong>University:</strong>
    <%= candidate.university %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= candidate.experience %>
  </p>

  <p>
    <strong>Hiring position:</strong>
    <%= @hiring_position.title %>
  </p>

  <p>
    <strong>CV:</strong>
    <%= link_to 'Open PDF', url_for(@hiring_position.candidate_cv), target: '_blank' %>
  </p>
  


</div>
