<%= render "shared/alerts" %>

<%= render @hiring_position %>

<div>
  <%= link_to "Edit this hiring position", edit_hiring_position_path(@hiring_position) %> |
  <%= link_to "Back to hiring positions", hiring_positions_path %>

  <%= button_to "Destroy this hiring position", @hiring_position, method: :delete %>
</div>
