<!DOCTYPE html>
<html>
  <head>
    <title>HrSystemApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container"> 
  <div class="m-2">
    <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-danger float-end" %>
    <% end %>
  </div>
    <%= render "shared/alerts" %>
    <%= yield %>
  </div>

  </body>
</html>
